
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    
    <link href="signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
  <link href="{{ url_for('static', filename = 'css/signin.css' ) }}" rel="stylesheet">
    <form class="form-signin" action = "/dashboard" method = "post">
      {% set fname = 'img/' +  params['login_img']  %}
      <img class="mb-4" src="{{ url_for('static', filename = fname) }}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Admin Panal</h1>
      <label for="user" class="sr-only">username</label>
      <input type="text" id="user" name = "user" class="form-control" placeholder="user" required autofocus>
      <label for="pass" class="sr-only">Password</label>
      <input type="password" id="pass" name = "pass" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; {{ params['blog_name'] }}2017-2018</p>
    </form>
  </body>
</html>
